@model LoanCalculator.Models.Transaction
@using Chart.Mvc.ComplexChart;
@using Chart.Mvc.Extensions
@{ 
    var barChart = new BarChart();
    barChart.ComplexData.Labels.AddRange(new[] { "Interest", "Capital" });
    barChart.ComplexData.Datasets.AddRange()
}

<tr>
    <td>@Model.TransactionID</td>
    <td>@Model.StartingBalance.ToString("c")</td>
    <td>@Model.Debit.ToString("c")</td>
    <td>@Model.Credit.ToString("c")</td>
    <td>@Model.ClosingBalance.ToString("c")</td>
</tr>