@model LoanCalculator.Models.Loan

@{
    ViewBag.Title = "Loan Calculator";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "transactions"
    };
}

<div class="jumbotron text-center">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-sm-6">
        @using (Ajax.BeginForm("Result", ajaxOpts))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.APR, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.APR, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.APR, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TermInMonths, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.TermInMonths, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.DropDownListFor(m => m.TermInMonths, new SelectList(new List<int>() { 6, 12, 18, 24, 30, 36, 42, 48, 54, 60 }), new { htmlAttributes = new { @class = "form-Control" } })
                        @Html.ValidationMessageFor(model => model.TermInMonths, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Calculate" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-sm-6">
        <canvas id="results" width="300" height="300"></canvas>
    </div>
</div>

<div id="transactions">
    @Html.Action("Result", new { loan = Model })
</div>
