@model LoanCalculator.Models.LoanResults
@using Chart.Mvc.Extensions

@if (ViewBag.ShowResults)
{
    <div class="row">
        <h2>Information about loan</h2>
        <div class="col-sm-4">
            <h3>Monthly repayment: @Model.MonthlyRepayment.ToString("c")</h3>
        </div>
        <div class="col-sm-4">
            <h3>Total interest: @ViewBag.TotalInterest.ToString("c")</h3>
        </div>
        <div class="col-sm-4">
            <h3>Total amount to repay: @ViewBag.TotalRepaid.ToString("c")</h3>
        </div>
    </div>

    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#statement">Show transactions</button>
    <div id="statement" class="collapse">
        <h2>Transactions</h2>
        <table class="table table-striped">
            <tr>
                <th>Month</th>
                <th>Starting balance</th>
                <th>Debit</th>
                <th>Credit</th>
                <th>Closing balance</th>
            </tr>
            @for(int month = 0; month < Model.TermInMonths ; month++)
            {
                <tr>
                    <td>@(month + 1)</td>
                    <td>@Model.OpeningBalances[month].ToString("c")</td>
                    <td>@ViewBag.Debits[month].ToString("c")</td>
                    <td>@ViewBag.Credits[month].ToString("c")</td>
                    <td>@ViewBag.ClosingBalances[month].ToString("c")</td>
                </tr>
            }
        </table>
    </div>
    @Html.CreateChart("results", Model.pieChart)
}