@model LoanCalculator.Models.Loan

@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

<div class="jumbotron">
    @Model.MonthlyRepayment.ToString("c")
    @Model.TotalInterest.ToString("c")
    @Model.TotalRepaid.ToString("c")
</div>
<div>
    <table class="table">
        <tr>
            <th>Month</th>
            <th>Starting balance</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Closing balance</th>
        </tr>

        @foreach (var t in Model.Transactions)
            {
            <tr>
                <td>@t.TransactionID</td>
                <td>@t.StartingBalance.ToString("c")</td>
                <td>@t.Debit.ToString("c")</td>
                <td>@t.Credit.ToString("c")</td>
                <td>@t.ClosingBalance.ToString("c")</td>
            </tr>
            }
    </table>
</div>