@model LoanCalculator.Models.Loan

@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

<div>
    @Model.MonthlyRepayment.ToString("c")
</div>
<div>
    @foreach(var t in Model.Transactions)
    {
        <p>@t.TransactionID</p>
        <p>@t.Balance.ToString("c")</p>
        <p>@t.Debit.ToString("c")</p>
        <p>@t.Credit.ToString("c")</p>
        <hr />
    }
</div>